*{
    margin: 0;
    padding: 0;
}
.uber{
    background-color: black;
    color: white;
}
.log{
    margin-top: 1%;
    width: auto;
    margin-left: 38%;
    margin-right: 36%;
}
.logininput{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
}
.logininput:hover{
    background-color: rgb(219, 219, 219);
}
.loginbutton{
    height: 40px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 15px;
}
.loginbutton:hover{
    background-color: rgb(116, 106, 106);
}
.line{
    display: flex;
    color:rgb(116, 106, 106);
}
.line1{
    margin-top: 10px;
    border: 1px solid rgb(240, 240, 240);
    height: 1px;
    width: 100%;
    margin-right: 10px;
}
.line2{
    margin-top: 10px;
    border: 1px solid rgb(240, 240, 240);
    height: 1px;
    width: 100%;
    margin-left: 10px;
}
.google{
    height: 40px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    border-radius: 10px;
}
.google:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
.ancarimg{
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ana{
    margin-top: 10px;
    padding-left: 50px;
    padding-top: 8px;
}
.google a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    padding-top: 10px;
}
.google1{
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.ana1 a{
    height: 40px;
    width: 100%;
    text-decoration: none;
    color: black;
    padding-top: 50px;
    padding-left: 90px;
}
.ana1:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}